h1,h2,h3,h4,h5,h6,p,ul,ol,hr{
    margin: 0;
    padding: 0;
}
hr{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.betCollection{
    display: grid;
    grid-template-columns: 2fr .5fr 2fr;
    // grid-gap: 10px;

    .home{
        text-align: right
    }
    .draw{
        text-align: center
    }
}