<footer class="pt-4 mt-5 pb-md-5 pt-md-5 border-top" style="background-color: #151D31">
    <div class="footer-container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 ">
                    Bordman
                </small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                    <li>
                        <a class="" href="#">Some Links</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>