<nav class="navbar navbar-expand-lg navbar-light bg-light wrapper">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">Bordman</a>
      <button mat-flat-button color="warn" *ngIf="LoggedIn" class="d-block d-lg-none d-xl-none"
        (click)="authservice.signOut()">Log Out</button>
      <a [routerLink]="['/bet-slip']" class="d-block d-lg-none d-xl-none">
        <!-- <sub>{{ (betslip)? '1' : '' }}</sub> -->
        <i class="fa fa-sticky-note-o"></i>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!LoggedIn">
            <form [formGroup]="loginForm" class="form-inline" (ngSubmit)="login(loginForm.value)">
              <input type="email" formControlName="email" class="form-control mr-sm-2" placeholder="email">
              <input type="password" formControlName="password" class="form-control mr-sm-2" placeholder="password">
              <button type="submit" mat-flat-button color="primary" class="mr-sm-2 loginbtn">Log In</button>
              <a mat-stroked-button color="primary" role="button" (click)="openThisModal(1)"
                class="mr-sm-2 registerbtn">Register</a>
            </form>
          </li>
          <div class="d-block d-md-flex" *ngIf="LoggedIn">
            <li class="nav-item">
              <a class="nav-link">Amount</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Deposit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard/bet-history']" routerLinkActive="active">Bet
                History</a>
            </li>
            <li>
              <div class="btn-group dropdown">
                <a role="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <span>My account</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">My bets</button>
                  <button class="dropdown-item" type="button">Dashboard</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" type="button" (click)="authservice.signOut()">Sign Out</button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div
      class="d-block container d-lg-none d-xl-none w-100 d-flex justify-content-between align-items-center border-top pt-2 pb-2">
      <span (click)="openSiderBar()"> &#9776; Menu</span>
      <span>
        <a *ngIf="LoggedIn" href="">NGN20.00</a>
        <a *ngIf="!LoggedIn" mat-stroked-button color="primary" role="button" (click)="openThisModal(0)"
          class="mr-sm-2">Log In</a>
      </span>
    </div>
  </nav>
  <div #openmodal id="popup1" class="overlay">
    <div class="popup">
      <a class="close" role="button" (click)="closeModal()">&times;</a>
      <div id="logreg-forms">
        <!-- <mat-tab-group mat-align-tabs="center" #tabGroup [selectedIndex]="activeTab" (selectedIndexChange)="tabChange($event)">
          <mat-tab label="Log In">
          <ng-template matTabContent>
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="container">
                  <div class="row social-login mb-3">
                    <a role="button" class="w-100 btn twitter-btn"><span><i class="fa fa-twitter"></i> &nbsp;
                        twitter</span></a>
                  </div>
                </div>
                <p class="text-center mt-3"> OR </p>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                  formControlName="email">
                <div class="password-area">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                    formControlName="password" [type]="hide? 'password': 'text'">
                  <a role="button" (click)="togglePwd()">
                    <i class="{{hide ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                  </a>
                </div>
                <button class="btn btn-success btn-block" type="submit" [disabled]="loginForm.invalid"><i
                    class="fa fa-sign-in"></i> Sign in <span *ngIf="loading"><i
                      class="fa fa-spin fa-spinner"></i></span> </button>
              </form>
          </ng-template>
          </mat-tab>
          <mat-tab label="Register">
          <ng-template matTabContent>
            <form action="/signup/" class="form-signup" [formGroup]="registerForm"
            (ngSubmit)="register(registerForm.value)">
            <div class="container">
              <div class="row social-login mb-3">
                <a role="button" class="w-100 btn twitter-btn"><span><i class="fa fa-twitter"></i> &nbsp;
                    twitter</span></a>
              </div>
            </div>

            <p style="text-align:center">OR</p>
            <input type="email" id="user-email" class="form-control mb-2" placeholder="Email address"
              formControlName="email">
              <input type="text" id="user-name" class="form-control mb-2" placeholder="Choose username"
              formControlName="username">
            <input type="password" id="user-pass" class="form-control mb-2" placeholder="Password"
              formControlName="password">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="registerForm.invalid"><i
                class="fa fa-user-plus"></i> Sign Up <span *ngIf="loading"><i
                  class="fa fa-spin fa-spinner"></i></span> </button>
          </form>
          </ng-template>
          </mat-tab>
        </mat-tab-group> -->
        <section class="auth-tabs">
            <div class="tabs-wrapper">
                <div class="page-nav-tabs">
                    <div class="page-tab" (click)="selectIndex(0)" #activeTab [ngClass]="{active: mode === 0}">Login</div>
                    <div class="page-tab" (click)="selectIndex(1)" #activeTab [ngClass]="{active: mode === 1}">Register</div>
                </div>

                <div class="nav-tab-body">
                    <ng-container *ngIf="mode === 0">
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                        <div class="container">
                          <div class="row social-login mb-3">
                            <a role="button" class="w-100 btn twitter-btn"><span><i class="fa fa-twitter"></i> &nbsp;
                                twitter</span></a>
                          </div>
                        </div>
                        <p class="text-center mt-3"> OR </p>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                          formControlName="email">
                        <div class="password-area">
                          <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                            formControlName="password" [type]="hide? 'password': 'text'">
                          <a role="button" (click)="togglePwd()">
                            <i class="{{hide ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                          </a>
                        </div>
                        <button class="btn btn-success btn-block" type="submit" [disabled]="loginForm.invalid || loggingIn"><i
                            class="fa fa-sign-in"></i> Sign in <span *ngIf="loggingIn"><i
                              class="fa fa-spin fa-spinner"></i></span> </button>
                      </form>
                    </ng-container>
                      <ng-container *ngIf="mode === 1" >
                      <form action="/signup/" class="form-signup" [formGroup]="registerForm"
                      (ngSubmit)="register(registerForm.value)">
                      <div class="container">
                        <div class="row social-login mb-3">
                          <a role="button" class="w-100 btn twitter-btn"><span><i class="fa fa-twitter"></i> &nbsp;
                              twitter</span></a>
                        </div>
                      </div>
          
                      <p style="text-align:center">OR</p>
                      <input type="email" id="user-email" class="form-control mb-2" placeholder="Email address"
                        formControlName="email">
                        <input type="text" id="user-name" class="form-control mb-2" placeholder="Choose username"
                        formControlName="username">
                      <input type="password" id="user-pass" class="form-control mb-2" placeholder="Password"
                        formControlName="password">
                      <button class="btn btn-primary btn-block" type="submit" [disabled]="registerForm.invalid || registering"><i
                          class="fa fa-user-plus"></i> Sign Up <span *ngIf="registering"><i
                            class="fa fa-spin fa-spinner"></i></span> </button>
                    </form>
                </ng-container>
                </div>
            </div>
        </section>
    </div>
    </div>
  </div>