<nav>
  <div class="nav_meta">
    <div class="homebtn">
      <a routerLink="/">Bordman</a>
      <fa-icon class="float-right" [icon]="faLightbulb" (click)="toggleTheme()"></fa-icon>
    </div>
    <div *ngIf="authservice.isLoggedIn">
      <div class="my-5 text-center" *ngIf="(authservice.loggedInUser | async) as loggedUser; else loading">
        <h4>{{ loggedUser.displayName | titlecase}}</h4>
        <div>
          <span>
            {{ loggedUser.wallet | currency}}
          </span>
        </div>
      </div>
      <ng-template  #loading>
        <div class="my-5 text-center" style="font-size: 30px">
          <i class="fa fa-spin fa-spinner"></i> 
        </div>
      </ng-template>
    </div>
  </div>
  <div class="nav-links-wrapper">
    <ul class="list-group">
      <li>
        <div class="">
          <div class="" id="headingOne">
      <li class="list-group-item league-item" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <fa-icon class="" [icon]="faFootballBall"></fa-icon>
        England
        <fa-icon class="float-right caret" [icon]="faCaretDown"></fa-icon>
      </li>
  </div>

  <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
    <div class="league-details">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4328'}">
            Premier League
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4329'}">Championship
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4396'}">
            League One
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4397'}">
            League Two
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </li>
  <li>
    <div class="">
      <div class="" id="headingOne">
  <li class="list-group-item league-item" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
    aria-controls="collapseTwo">
    <fa-icon class="" [icon]="faFootballBall"></fa-icon>
    Spain
    <fa-icon class="float-right caret" [icon]="faCaretDown"></fa-icon>
  </li>
  </div>

  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
    <div class="league-details">
      <ul class="list-group">
        <li class="list-group-item">La Liga
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4335'}">
            La Liga Santander
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4400'}">
            Segunda División
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </li>
  <li>
    <div class="">
      <div class="" id="headingOne">
  <li class="list-group-item league-item" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
    aria-controls="collapseThree">
    <fa-icon class="" [icon]="faFootballBall"></fa-icon>
    Germany
    <fa-icon class="float-right caret" [icon]="faCaretDown"></fa-icon>
  </li>
  </div>

  <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
    <div class="league-details">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4331'}">
            Bundesliga
          </a>
        </li>
        <li class="list-group-item">Liga 2
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4399'}">
            German 2. Bundesliga
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </li>
  <li>
    <div class="">
      <div class="" id="headingOne">
  <li class="list-group-item league-item" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
    aria-controls="collapseFour">
    <fa-icon class="" [icon]="faFootballBall"></fa-icon>
    France
    <fa-icon class="float-right caret" [icon]="faCaretDown"></fa-icon>
  </li>
  </div>

  <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
    <div class="league-details">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4334'}">
            Ligue 1
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4401'}">
            Ligue 2
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </li>
  <li>
    <div class="">
      <div class="" id="headingOne">
  <li class="list-group-item league-item" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
    aria-controls="collapseFive">
    <fa-icon class="" [icon]="faFootballBall"></fa-icon>
    Italy
    <fa-icon class="float-right caret" [icon]="faCaretDown"></fa-icon>
  </li>
  </div>

  <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
    <div class="league-details">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4332'}">
            Serie A
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4394'}">
            Serie B
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/sports/football']" [queryParams]="{category: '4398'}">
            Serie C
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </li>
  </ul>
  </div>
</nav>