<div class="tickets_wrapper">
    <div *ngIf="!ticket && !errorMsg" class="loadingdiv ticket-card">
        <div class="loadingspinner">
            <i class="fa fa-spin fa-spinner"></i>
            <span class="d-block">Loading</span>
        </div>
    </div>
    <div *ngIf="!ticket && errorMsg" class="errordiv">
        <div class="errormsg">
            <i class="fa fa-warning"></i>
            <span class="d-block">Error. Please try again</span>
        </div>
    </div>
    <div *ngIf="ticket">
        <div class="ticket-card">
            <div class="card-header">
                Ticket Details
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <span class="d-block">{{ticket.createdAt | timeAgo}}</span>
                    <span class="d-block" [ngStyle]="{color: (ticket.open? '#2BD55C' : 'red')}">{{(ticket.open? 'Open' : 'Closed')}}</span>

                </div>
                <div class="p-2">
                    <h3 class="card-title text-center">
                        {{ticket.match}}
                    </h3>
                </div>
                <hr />
                <div class="row my-3">
                    <div class="col-6 card-text text-center">
                        <div>
                            <div class="bet-outcome">
                                {{ticket.outcome | titlecase}}
                            </div>
                            <div *ngIf="ticket.creatorId" class="username">User</div>
                        </div>
                    </div>
                    <div class="col-6 card-text text-center">
                        <div>
                            <div *ngIf="!ticket.open" class="bet-outcome">
                                {{ticket.contendingOutcome | titlecase}}
                            </div>
                            <div *ngIf="(userId !== ticket.creatorId) && (ticket.open)">
                                <select (change)="counterOption($event)" class="form-control"
                                [disabled]="disableSelect">
                                <option selected disabled>Choose an outcome</option>
                                <option *ngFor="let outcome of availableoptions" [value]="outcome">
                                    {{outcome | titlecase}}
                                </option>
                            </select>
                            </div>
                            <div *ngIf="ticket.contenderId" class="username">User2</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row my-3 ">
                    <div class="col-12 col-md-6 card-text text-left">
                        <div>
                            <span class="d-block">Individual Stake</span>
                            <span class="d-block">{{ticket.openingStake | currency}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 card-text text-right">
                        <div>
                            <span class="d-block">Winning Prize money</span>
                            <span class="d-block">{{ticket.potPrice | currency}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="(userId !== ticket.creatorId) && (ticket.open)">
                   <div class="d-flex flex-wrap justify-content-between py-3 betactions">
                    <div class="bet-check">
                        <input type="checkbox" class="bet-check-input" id="betcheck">
                        <label class="bet-check-label ml-1" for="betcheck">I agree to all</label>
                    </div>
                    <button class="btn" (click)="joinBet(ticket)">Join Bet</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>