.loadingdiv {
  min-height: 250px;
  background: #F9FAFF;
  position: relative;

  .loadingspinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.errordiv {
  min-height: 250px;
  position: relative;

  .errormsg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}


select.form-control {
  width: 100%;
  max-width: 300px;
  appearance: none;
  -webkit-appearance: none;
  background: var(--background-light) url(../../../assets/img/caret.svg) no-repeat;
  // background: var(--background-light);
  color: var(--foreground-tertiary);
  background-position: calc(100% - 10px) center;
  background-size: 12px;
  padding-right: 30px !important;
}

.tickets_wrapper {

  hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .ticket-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background: var(--background-light);
    color: var(--foreground-tertiary);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    .username {
      color: #2BD55C;
    }

    .bet-outcome{
      font-size: 25px;
      font-weight: 700;
    }
  }
.betactions{
  border-top: 1px solid rgba(0,0,0,.1);

  button {
    background-color: #4fb1f7;
    border: none;
    outline: none;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
  
}
