<div> 
    <div *ngIf="!allSchedules && !errorMsg" class="loadingdiv">
        <div class="loadingspinner">
            <i class="fa fa-spin fa-spinner"></i>
            <span class="d-block">Loading</span>
        </div>
    </div>
    <div *ngIf="!allSchedules && errorMsg" class="errordiv">
        <div class="errormsg">
            <i class="fa fa-warning"></i>
            <span class="d-block">Error. Please try again</span>
        </div>
    </div>
   <div *ngIf="allSchedules" class="fixtures">
    <app-match-event [schedules]="allSchedules" [leagueName]="leagueName"></app-match-event>
   </div>
</div>