.wrapper{
    max-width: 1400px;
    margin: auto;
    padding: 10px;
}
section{
    font-size: 14px;
}

@font-face{
    font-family: lato;
    src: url('../../../assets/fonts/Lato-Regular.ttf')
}
@font-face{
    font-family: avenir;
    src: url('../../../assets/fonts/AvenirNextLTPro-Regular.otf')
}

:not(i){
    font-family: 'avenir', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0
}

a{
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

.loadingdiv {
    height: 150px;
    position: relative;

    .loadingspinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

  .errordiv {
    height: 150px;
    position: relative;

    .errormsg {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

