<div class="main_content">
    <div class="main">
        <div class="card">
            <div *ngIf="leagueName" class="card-header">
                {{leagueName}}
            </div>
            <div class="card-body">
                <div *ngFor="let event of schedules">
                    <p class="match_event">
                        <span>
                                {{event.dateEvent | date: 'dd/MM EE'}}
                        </span>
                        <span class="d-xl-none d-block">
                            {{event.strEvent}}
                        </span>
                    </p>
                    <div class="row">
                        <div class="col-lg-2 align-self-center">
                            <small>
                                {{event.strTimeLocal | utcDate}}
                            </small>
                        </div>
                        <div class="col-lg-10">
                            <div class="betCollection">
                                <div class="home">
                                    <span class="outcome">
                                        {{event.strHomeTeam}}
                                    </span>
                                    <button mat-flat-button #win color="primary" class="betoutcome"
                                        (click)="clicked(win, event.strEvent)" [value]="event.strHomeTeam">
                                        Home
                                    </button>
                                </div>
                                <div class="draw">
                                    <button mat-flat-button #draw color="primary" class="betoutcome"
                                        (click)="clicked(draw, event.strEvent)" value="draw">
                                        Draw
                                    </button>
                                </div>
                                <div class="">
                                    <button mat-flat-button #away color="primary" class="betoutcome"
                                        (click)="clicked(away, event.strEvent)" [value]="event.strAwayTeam">
                                        Away
                                    </button>
                                    <span class="outcome">
                                        {{event.strAwayTeam}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>