<div *ngFor="let event of allSchedules | paginate: { itemsPerPage: 7, currentPage: 1}">
    <p>
        {{event.dateEvent | date: 'dd/MM EE'}}
    </p>
    <div class="row">
        <div class="col-lg-2 align-self-center">
            <small>
                {{event.strTimeLocal | utcDate}}
            </small>
        </div>
        <div class="col-lg-10">
            <div class="betCollection">
                <div class="home">
                    <span class="">
                        {{event.strHomeTeam}}
                    </span>
                    <button mat-flat-button #win color="primary" (click)="clicked(win, event.strEvent)"
                        [value]="event.strHomeTeam">
                        Home
                    </button>
                </div>
                <div class="draw">
                    <button mat-flat-button #draw color="primary" (click)="clicked(draw, event.strEvent)" value="draw">
                        Draw
                    </button>
                </div>
                <div class="">
                    <button mat-flat-button #away color="primary" (click)="clicked(away, event.strEvent)"
                        [value]="event.strAwayTeam">
                        Away
                    </button>
                    <span class="">
                        {{event.strAwayTeam}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>