<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0">
    <div class="mt-3">
      <button class="ml-3" mat-button color="accent" type="button" (click)="sidenav.close()">Close</button>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-television"></i>
              <span class="ml-2">
                Live
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-unstyled text-small">
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">England</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Spain</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Germany</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">France</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Italy</a>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-soccer-ball-o"></i>
              <span class="ml-2">
                Sports
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-unstyled text-small">
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/sports/football?category=4328">England</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/sports/football?category=4335">Spain</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/sports/football?category=4331">Germany</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/sports/football?category=4334">France</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/sports/football?category=4332">Italy</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" *ngIf="LoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-user-secret"></i>
              <span class="ml-2">
                Account
              </span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="list-unstyled text-small">
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Deposit</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Withdraw</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="#">Transactions</a>
          </li>
          <li class="mt-3 mb-3">
            <a class="text-muted" href="/dashboard/bet-history">Bet History</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-navbar (openSidebar)="openSidebar()"></app-navbar>
      <div class="body-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>