<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light wrapper">
        <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" >Bordman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" >Amount</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" >Deposit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Bet History</a>
            </li>
          </ul>
          <div>
              <div class="btn-group dropdown">
                  <a role="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>My account</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">My bets</button>
                    <button class="dropdown-item" type="button">Dashboard</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">Sign Out</button>
                  </div>
                </div>
            </div>
        </div>
        
      </nav>
  <router-outlet></router-outlet>
</div>