<!-- <div class="jumbotron">
    <div class="content">
        <div class="caption fadeIn">
            <h2>sports betting with friends</h2>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                dolore
                te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                nihil
                imperdiet doming id quod mazim placerat facer possim assum.</p>
            <a href="#">Bet now!</a>
        </div>
    </div>
    <div class="imageBox">
        <div class="caption fadeIn">
            <h2>sports betting with friends</h2>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                dolore
                te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                nihil
                imperdiet doming id quod mazim placerat facer possim assum.</p>
            <a href="#" class="mt-4">Bet now!</a>
        </div>
    </div>
</div> -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem class="slide">
        <div class="jumbotron">
            <div class="content">
                <div class="caption fadeIn">
                    <h2>sports betting with friends</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                        dolore
                        te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <a href="#">Bet now!</a>
                </div>
            </div>
            <div class="imageBox">
                <div class="caption fadeIn">
                    <h2>sports betting with friends</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                        dolore
                        te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <a href="#" class="mt-4">Bet now!</a>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem class="slide">
        <div class="jumbotron">
            <div class="content">
                <div class="caption fadeIn">
                    <h2>sports betting with friends</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                        dolore
                        te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <a href="#">Bet now!</a>
                </div>
            </div>
            <div class="imageBox">
                <div class="caption fadeIn">
                    <h2>sports betting with friends</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                        dolore
                        te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                        nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <a href="#" class="mt-4">Bet now!</a>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>
<div class="container">
    <div>
        <div class="pt-5 main_content">
            <div class="leftside d-none d-lg-block">
                <app-leagues></app-leagues>
            </div>
            <div class="main">
                <div class="av_bets card border-secondary">
                    <div class="card-header bg-transparent">
                        Popular Bets
                    </div>
                    <div class="card-body">
                        <!-- <nav class="popular_bets mb-3">
                            <a [routerLink]="['/premier-league']" routerLinkActive="activenav" class="epl"
                                skipLocationChange>
                                <div class="logoarea p_l">

                                </div>
                                <div class="league_title">
                                    <small>England</small><br>
                                    <span>
                                        Premier
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/la-liga']" routerLinkActive="activenav" class="laliga"
                                skipLocationChange>
                                <div class="logoarea l_l">
                                </div>

                                <div class="league_title">
                                    <small>Spain</small><br>
                                    <span>
                                        La Liga
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/bundesliga']" routerLinkActive="activenav" class="bundesliga"
                                skipLocationChange>
                                <div class="logoarea g_l">
                                </div>
                                <div class="league_title">
                                    <small>Germany</small><br>
                                    <span>
                                        Bundesliga
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/ligue-1']" routerLinkActive="activenav" class="ligue-1"
                                skipLocationChange>
                                <div class="logoarea f_l">

                                </div>
                                <div class="league_title">
                                    <small>France</small><br>
                                    <span>
                                        Ligue 1
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/serie-a']" routerLinkActive="activenav" class="seriea"
                                skipLocationChange>
                                <div class="logoarea i_l">
                                </div>

                                <div class="league_title">
                                    <small>Italy</small><br>
                                    <span>
                                        Serie A
                                    </span>
                                </div>
                            </a>
                        </nav> -->
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="buttonToggleDiv"
                            #group="matButtonToggleGroup" (change)="onValChange(group.value)">
                            <mat-button-toggle value="epl" [checked]="true">
                                <span class="buttonToggleDiv-meta">England</span>
                                <span class="buttonToggleDiv-meta font-weight-bolder">EPL</span>
                            </mat-button-toggle>
                            <mat-button-toggle value="la-liga">
                                <span class="buttonToggleDiv-meta">Spain</span>
                                <span class="buttonToggleDiv-meta font-weight-bolder">La Liga</span>
                            </mat-button-toggle>
                            <mat-button-toggle value="bundesliga">
                                <span class="buttonToggleDiv-meta">Germany</span>
                                <span class="buttonToggleDiv-meta font-weight-bolder">Bundesliga</span>
                            </mat-button-toggle>
                            <mat-button-toggle value="ligue-1">
                                <span class="buttonToggleDiv-meta">France</span>
                                <span class="buttonToggleDiv-meta font-weight-bolder">Ligue 1</span>
                            </mat-button-toggle>
                            <mat-button-toggle value="serie-a">
                                <span class="buttonToggleDiv-meta">Italy</span>
                                <span class="buttonToggleDiv-meta font-weight-bolder">Serie A</span>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <div *ngIf="!allSchedules && !errorMsg" class="loadingdiv">
                            <div class="loadingspinner">
                                <i class="fa fa-spin fa-spinner"></i>
                                <span class="d-block">Loading</span>
                            </div>
                        </div>
                        <div *ngIf="!allSchedules && errorMsg" class="errordiv">
                            <div class="errormsg">
                                <i class="fa fa-warning"></i>
                                <span class="d-block">Error. Please try again</span>
                            </div>
                        </div>
                        <div class="fixtures" *ngIf="allSchedules">
                            <app-match-event [schedules]="allSchedules"></app-match-event>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <app-betslip></app-betslip>
                <div class="my-3 availablebets">
                    <app-available-bets [availableBets]="availableBets"></app-available-bets>
                </div>
                <!-- <div class="my-3 availablebets loadingdiv" *ngIf="!availableBets">
                    <div class="loadingspinner">
                        <i class="fa fa-spin fa-spinner"></i>
                        <span class="d-block">Loading</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>