<section>
    <!-- <div class="jumbo">
                <div class="caption fadeIn" style="visibility: visible; opacity: 1;">
                        <h2>Your guide to sports betting with friends</h2>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit  augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                        <a href="#">Bet now!</a>
                      </div>  
            </div> -->
    <!-- <div class="jumbotron wrapper">
        <div class="content"></div>
        <div class="imageBox">
            <div>
                <div class="caption fadeIn" style="visibility: visible; opacity: 1;">
                    <h2>sports betting with friends</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis dolore
                        te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil
                        imperdiet doming id quod mazim placerat facer possim assum.</p>
                    <a href="#">Bet now!</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="wrapper">
        <div class="mt-5 main_content">
            <aside class="leftside d-none d-lg-block">
                <div class="card border-secondary">
                    <div class="card-header">
                        Leagues
                    </div>
                    <mat-accordion [multi]="multi">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    England
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4328'}"
                                        routerLinkActive="router-link-active"
                                        class="d-flex justify-content-between align-items-center">
                                        Premier League
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4329'}"
                                        class="d-flex justify-content-between align-items-center active">
                                        Championship
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4396'}"
                                        class="d-flex justify-content-between align-items-center">
                                        League One
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4397'}"
                                        class="d-flex justify-content-between align-items-center">
                                        League Two
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Spain
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4335'}"
                                        class="d-flex justify-content-between align-items-center">
                                        La Liga Santander
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4400'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Segunda División
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Germany
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4331'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Bundesliga
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4399'}"
                                        class="d-flex justify-content-between align-items-center">
                                        German 2. Bundesliga
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Italy
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4332'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Seria A
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4394'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Serie B
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4398'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Serie C
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    France
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4334'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Ligue 1
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a [routerLink]="['/sports/football']" [queryParams]="{category: '4401'}"
                                        class="d-flex justify-content-between align-items-center">
                                        Ligue 2
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <div class="card-body">
                        <div class="leaguesitem">
                            <p>
                                <a class="d-flex justify-content-between align-items-center dropdown-toggle"
                                    data-toggle="collapse" href="#spanishleague" role="button" aria-expanded="false"
                                    aria-controls="spanishleague">
                                    England
                                </a>
                            </p>
                            <div class="collapse" id="spanishleague">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4328'}"
                                            routerLinkActive="router-link-active"
                                            class="d-flex justify-content-between align-items-center">
                                            Premier League
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4329'}"
                                            class="d-flex justify-content-between align-items-center active">
                                            Championship
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4396'}"
                                            class="d-flex justify-content-between align-items-center">
                                            League One
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4397'}"
                                            class="d-flex justify-content-between align-items-center">
                                            League Two
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="leaguesitem">
                            <p>
                                <a class="d-flex justify-content-between align-items-center dropdown-toggle"
                                    data-toggle="collapse" href="#englishleague" role="button" aria-expanded="false"
                                    aria-controls="englishleague">
                                    Spain
                                </a>
                            </p>
                            <div class="collapse" id="englishleague">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4335'}"
                                            class="d-flex justify-content-between align-items-center">
                                            La Liga Santander
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4400'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Segunda División
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="leaguesitem">
                            <p>
                                <a class="d-flex justify-content-between align-items-center dropdown-toggle"
                                    data-toggle="collapse" href="#germanleague" role="button" aria-expanded="false"
                                    aria-controls="germanleague">
                                    Germany
                                </a>
                            </p>
                            <div class="collapse" id="germanleague">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4331'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Bundesliga
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4399'}"
                                            class="d-flex justify-content-between align-items-center">
                                            German 2. Bundesliga
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="leaguesitem">
                            <p>
                                <a class="d-flex justify-content-between align-items-center dropdown-toggle"
                                    data-toggle="collapse" href="#italyleague" role="button" aria-expanded="false"
                                    aria-controls="italyleague">
                                    Italy
                                </a>
                            </p>
                            <div class="collapse" id="italyleague">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4332'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Seria A
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4394'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Serie B
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4398'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Serie C
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="leaguesitem">
                            <p>
                                <a class="d-flex justify-content-between align-items-center dropdown-toggle"
                                    data-toggle="collapse" href="#frenchleague" role="button" aria-expanded="false"
                                    aria-controls="frenchleague">
                                    France
                                </a>
                            </p>
                            <div class="collapse" id="frenchleague">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4334'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Ligue 1
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a [routerLink]="['/sports/football']" [queryParams]="{category: '4401'}"
                                            class="d-flex justify-content-between align-items-center">
                                            Ligue 2
                                            <span class="badge badge-primary badge-pill">14</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </aside>
            <div class="main">
                <div class="jumbotron">
                    <div class="content">
                        <div class="caption fadeIn">
                            <h2>sports betting with friends</h2>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                                dolore
                                te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                                nihil
                                imperdiet doming id quod mazim placerat facer possim assum.</p>
                            <a href="#">Bet now!</a>
                        </div>
                    </div>
                    <div class="imageBox">
                        <div class="caption fadeIn">
                            <h2>sports betting with friends</h2>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit augue duis
                                dolore
                                te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue
                                nihil
                                imperdiet doming id quod mazim placerat facer possim assum.</p>
                            <a href="#">Bet now!</a>
                        </div>
                    </div>
                </div>

                <div class="d-none d-lg-block">

                    <a>View more leagues</a>
                </div>
                <div class="av_bets card border-secondary d-none d-md-block">
                    <div class="card-header bg-transparent">
                        Popular Bets
                    </div>
                    <div class="card-body">
                        <nav class="popular_bets mb-3">
                            <a [routerLink]="['/premier-league']" routerLinkActive="activenav" class="epl"
                                skipLocationChange>
                                <div class="logoarea p_l">

                                </div>
                                <div class="league_title">
                                    <small>England</small><br>
                                    <span>
                                        Premier
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/la-liga']" routerLinkActive="activenav" class="laliga"
                                skipLocationChange>
                                <div class="logoarea l_l">
                                </div>

                                <div class="league_title">
                                    <small>Spain</small><br>
                                    <span>
                                        La Liga
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/bundesliga']" routerLinkActive="activenav" class="bundesliga"
                                skipLocationChange>
                                <div class="logoarea g_l">
                                </div>
                                <div class="league_title">
                                    <small>Germany</small><br>
                                    <span>
                                        Bundesliga
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/ligue-1']" routerLinkActive="activenav" class="ligue-1"
                                skipLocationChange>
                                <div class="logoarea f_l">

                                </div>
                                <div class="league_title">
                                    <small>France</small><br>
                                    <span>
                                        Ligue 1
                                    </span>
                                </div>
                            </a>
                            <a [routerLink]="['/serie-a']" routerLinkActive="activenav" class="seriea"
                                skipLocationChange>
                                <div class="logoarea i_l">
                                </div>

                                <div class="league_title">
                                    <small>Italy</small><br>
                                    <span>
                                        Serie A
                                    </span>
                                </div>
                            </a>
                        </nav>
                        <div class="fixtures">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="d-none d-lg-block">
                    <mat-card class="example-card border-gray">
                            <mat-card-header>
                              <mat-card-title>Betslip</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                    <div *ngIf="nobetslip">
                                            No bets
                                        </div>
                                        <div *ngIf="!nobetslip">
                                            <h5 class="card-title d-flex justify-content-between mb-3">
                                                <span>
                                                    {{betslip.match}}
                                                </span>
                                                <a role="button" (click)="removeBet()">
                                                    <i class="fa fa-times-circle text-danger"></i>
                                                </a>
                                            </h5>
                    
                                            <p class="card-text mb-3">{{betslip.outcome | titlecase}}</p>
                                            <hr>
                                            <div class="d-flex justify-content-between mt-3 mb-3">
                                                <div>
                                                    Total stake
                                                </div>
                                                <div class="stake_input d-flex justify-content-between">
                                                    <span class="align-self-center">NGN</span>
                                                    <input type="number" placeholder="Amount">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="d-flex justify-content-between mt-3 mb-3">
                                                <span>
                                                    Potential win
                                                </span>
                                                <span>
                                                    Amount
                                                </span>
                                            </div>
                                        </div>
                            </mat-card-content>
                            <mat-card-actions *ngIf="!nobetslip">
                                    <button mat-flat-button color="primary" class="btn-lg btn-block">
                                            Place bet
                                        </button>
                            </mat-card-actions>
                          </mat-card>
                </aside>
        </div>
    </div>
</section>