<div class="main_content">
    <div class="main">
        <div *ngFor="let event of schedules" class="row no-gutters align-items-end single-match">
            <div class="col-2">
                <p class="match_event">
                    <span>
                            {{event.dateEvent | date: 'dd/MM EE'}}
                    </span>
                    <span class="d-xl-none d-block">
                        {{event.strEvent}}
                    </span>
                </p>
                <small>
                    {{event.strTimeLocal | utcDate}}
                </small>
            </div>
            <div class="col-6">
               <div>
                   <span class="d-block">
                    {{event.strHomeTeam}}
                   </span>
                   <span class="d-block">
                    {{event.strAwayTeam}}
                   </span>
               </div>
            </div>
            <div class="col-4">
                <div class="betCollection">
                    <button mat-flat-button #win color="primary" class="betoutcome"
                            (click)="clicked(win, event.strEvent)" [value]="event.strHomeTeam">
                            Home
                        </button>
                        <button mat-flat-button #draw color="primary" class="betoutcome"
                            (click)="clicked(draw, event.strEvent)" value="draw">
                            Draw
                        </button>
                        <button mat-flat-button #away color="primary" class="betoutcome"
                            (click)="clicked(away, event.strEvent)" [value]="event.strAwayTeam">
                            Away
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>